---
import "../../styles/tailwind.css";

import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";

import NavBar from "./parts/navbar";
import Footer from "./parts/footer";
import PageTransition from "./parts/pageTransition";

const { title, desc } = Astro.props;
const supportedLanguages = i18next.languages;
---

<html lang={i18next.language}>
	<head>
		<title>{title}</title>
		<meta name="description" content={desc} />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!-- <script type="text/partytown" src="fancy-analytics.js"></script> -->
		<HeadHrefLangs />
	</head>
	<body class="flex flex-col w-full">
		<PageTransition client:only="react">
			<NavBar
				currentLang={i18next.language}
				languages={supportedLanguages}
				client:only="react"
			/>
			<main class="min-h-screen my-4">
				<slot />
			</main>
			<Footer />
		</PageTransition>
	</body>
</html>
