---
import "../../styles/tailwind.css";

import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";

import NavBar from "./parts/navbar";
import Footer from "./parts/footer";
import PageTransition from "./parts/pageTransition";

const { title, desc } = Astro.props;
const supportedLanguages = i18next.languages;
---

<html lang={i18next.language}>
	<head>
		<title>{title}</title>
		<meta charset="utf-8" />

		<meta name="description" content={desc} />

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/favicons/apple-touch-icon.png"
		/>

		<link
			rel="icon"
			type="image/png"
			sizes="194x194"
			href="/favicons/favicon-194x194.png"
		/>

		<link
			rel="icon"
			type="image/png"
			sizes="192x192"
			href="/favicons/android-chrome-192x192.png"
		/>

		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicons/favicon-16x16.png"
		/>

		<link rel="manifest" href="/favicons/site.webmanifest" />

		<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" />

		<link rel="shortcut icon" href="/favicons/favicon.ico" />

		<meta name="msapplication-TileColor" content="#000000" />

		<meta
			name="msapplication-config"
			content="/favicons/browserconfig.xml"
		/>

		<HeadHrefLangs />
	</head>
	<body class="w-full pb-2">
		<PageTransition client:only="react">
			<NavBar
				currentLang={i18next.language}
				languages={supportedLanguages}
				client:only="react"
			/>
			<main class="min-h-screen">
				<slot />
			</main>
			<Footer client:visible />
		</PageTransition>
	</body>
</html>
